h1{
    font-size: clamp(1rem,4wv,3rem);
}
img{
    max-width: 700px;
    width: 100%;
}
@media screen and (max-width:400px){
    body{
        background-color: pink;
    }
    img{
        max-width: 200px;
    }
}
@media screen and (min-width:399px) {
    body{
        background-color: red;
    }
    img{
        max-width: 700px;
    }
    
}