*{
    margin: 0;
    border:0;
    box-sizing: 0;
}
table{
    margin: auto;
    width:500px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    margin-top: 200px;
}
table,th,td{
    padding: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}