.parent{
    border: 10px;
    display: flex;
    margin: 200px;
    gap: 20px;
    justify-content: space-evenly;
    justify-content: center;
}
.child{
    border: 100px;
    
    text-align: center;
    width: 600px;
   
    box-shadow: 1px 1px 30px black;
    background-color: whitesmoke;
    
    
   
}
.profile{
    width: 70%;
    border-radius: 200%;
    
}
body{
    
    background-image: url("../assets/image3.jpg");
    width: 100%;
    height: 100%;
    background-size:cover;
}